.card{
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(121, 119, 119, 0.2),0px 5px 10px rgb(121, 119, 119, 0.2);
}
.hero{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}